@mixin button {
    display: flex;
    justify-content: center;
    position: relative;
    margin: auto;
    padding: 19px 22px;
    transition: all .2s ease;
    width: 180px;
  
    span {
      position: relative;
      font-size: 16px;
      line-height: 18px;
      font-weight: 900;
      letter-spacing: .25em;
      text-transform: uppercase;
      vertical-align: middle;
      color: black;
    }
  
    &:before {
      content: "";
      position: absolute;
      top: 15px;
      left: 27px;
      display: block;
      border-radius: 28px;
      background: #5fb2e4;
      width: 25px;
      height: 25px;
      transition: all .3s ease;
    }
  
    &:hover {
      &:before {
        width: 67%;
        background: #5fb2e4;
      }
    }
  
    &:active {
      transform: scale(.96);
    }
  }