// Style page
@import './pages/home/home.scss';

// Style components
@import './components/header/header.scss';
@import './components/footer/footer.scss';
@import './components/main/collapse/collapse.scss';
@import './components/main/slider/slider.scss';
@import './components//main/card/card.scss';
@import './utils/mixins/mixins.scss';
@import './components/main/modal/modal.scss';
// Google fonts
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: #16aaff10;
}

body {
    margin: 0 55px;
}

h2 {
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

.loading-container {
    position: fixed;
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    animation: off 3s;
    animation-fill-mode: forwards;
    animation-delay: 3s;

    .ring {
        position: absolute;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        animation: ring 2s linear infinite;
    }
    @keyframes ring {
        0% {
            transform: rotate(0deg);
            box-shadow: 1px 5px 2px #e65c00;
        }
        50% {
            transform: rotate(180deg);
            box-shadow: 1px 5px 2px #18b201;
        }
        100% {
            transform: rotate(360deg);
            box-shadow: 1px 5px 2px #0456c8;
        }
    }
    .ring::before {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        box-shadow: 0 0 5px rgba(255,255,255,.3)
    }
    span {
        color: #383838;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 1px;
        line-height: 200px;
    }
}
@keyframes off {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(0);
    }
}

@media screen and (max-width: 768px) {
    body {
        margin: 0 30px;
    }
}