.first-title {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    cursor: pointer;
}

.info-content {
    margin-bottom: 50px;
    .title {
        display: flex;
        gap: 10px;
        font-size: 15px;
    }
}

p {
    padding-top: 3px;
    font-size: 15px;
}

@media screen and (max-width: 1024px) {
    .info-content .title {
        flex-direction: column;
    }
    p {
        font-size: 15px;
        padding-top: 2px;
    }
}

@media screen and (max-width: 768px) {
    p {
        font-size: 15px;
        padding-top: 5px;
    }
}